@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}

@keyframes bigsmall {

    0%,
    100% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.08);
    }
}

@keyframes movingline {
    from {
        width: 1%;
    }

    to {
        width: 100%;
    }
}

@keyframes drawLine {
    0% {
        height: 0;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        height: 3rem;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rainbowTag {
    0% {
        background-position: 0% 50%;
        opacity: 0.9;
    }

    50% {
        background-position: 100% 50%;
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


.counter {
    display: flex;
    gap: 1vh;
}

@property --contadorHoras {
    syntax: "<integer>";
    inherits: false;
    initial-value: 2;
}


@property --contadorMinutos {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

@property --contadorSegundos {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}


@keyframes contar_h {
    from {
        --contadorHoras: 1;
    }

    to {
        --contadorHoras: 0;
    }
}

@keyframes contar_m {
    from {
        --contadorMinutos: 59;
    }

    to {
        --contadorMinutos: 0;
    }
}

@keyframes contar_s {
    from {
        --contadorSegundos: 59;
    }

    to {
        --contadorSegundos: 0;
    }
}