.presentacion {
    color: white;
    font-size: 1.1rem;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-footer {
    margin-top: 6rem;
    color: #d8e2dc;
    background-color: var(--color-text);
}